@model ApplicationUser
@{
    ViewData["Title"] = "Details";
}

<h1>User Details</h1>

<div class="alert-light">
    <partial name="PartialViews/_DetailsDeleteUserPartialView" />
    <br />
    <br />
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-secondary">Edit</a> |
    <a class="btn btn-light" asp-action="Index">Back To List</a>

</div>