
@{
    ViewData["Title"] = "CheckYourInbox";
    Layout = "~/Views/Shared/_AuthanticationLayout.cshtml";
}

<div class="main-agileinfo">
	<div class="agileits-top">
		<form asp-action="SendEmail" method="post">
			<div asp-validation-summary="All"></div>
			<div>
				Password reset link has been sent to your email. Please check your inbox :)
			</div>
			<div>
				<a href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox">Your Inbox</a>
			</div>
		</form>
	</div>
</div>

@section Scripts{
	<partial name="_ValidationScriptsPartial" />
}

